<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />

    <title>Login</title>
</head>

<body class="login-body">
    <div class="login-box">
        <h1>Login</h1>
        <form>
            <label>First Name</label>
            <input type="text" placeholder="Enter your First Name">
            <label>Password</label>
            <input type="password" placeholder="Enter your password">
            <input type="button" value="Submit">
        </form>
    </div>
    <p class="paragraph">Not have an account ?
        <a href="#"> Sign Up Here</a>
    </p>
</body>

</html>